<ion-view title="{{event.name}}">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <h1>{{event.name}} @ {{event.location_name}}</h1>
        <h2>{{event.date | date :"dd MMMM yyyy @ HH'h'"}}</h2>
        <p>{{event.description}}</p>
        <p>
          <h2>Entrées</h2>
          <ion-list>
            <ion-item ng-repeat="ticket in event.ticketing">
              {{ticket}}
            </ion-item>
          </ion-list>
        </p>
        <p>
          <h2>Boissons</h2>
          <ion-list>
            <ion-item ng-repeat="drink in event.drinks">
              {{drink}}
            </ion-item>
          </ion-list>
        </p>
        <p>
          <h2>Vestiaire</h2>
          <ion-list>
            <ion-item ng-repeat="dressing in event.dressing">
              {{dressing}}
            </ion-item>
          </ion-list>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
