<ion-view title="Invite">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="list">
      <ion-item ng-show="{{contact.email || contact.phoneNumber || contact.facebook}}" class="item item-text-wrap contactShow" ng-repeat="contact in contacts | orderBy:'name'">
        <p>Name : {{contact.name}}</p>
        <ion-option-button class="button-calm contactButton" ng-show="{{contact.phoneNumber}}">SMS</ion-option-button>
        <ion-option-button class="button-assertive contactButton" ng-show="{{contact.email}}">EMAIL</ion-option-button>
        <!--<ion-option-button class="button-calm contactButton" ng-show="{{contact.facebook}}">FB</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
