<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.iesamultimedia.shaketonbde" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShakeTonBDE</name>
    <description>
      L'appli pour ne plus rater les soirées de ton BDE
    </description>
    <author email="shake@tonbde.com" href="http://shaketonbde.com/">
      New York Cyborgs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Camera">
      <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation" />
    </feature>
    <feature name="Contacts">
      <param name="ios-package" value="CDVContacts" />
    </feature>
    <feature name="Device">
      <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="SocialSharing">
       <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="SocialSharing">
      <param name="ios-package" value="SocialSharing" />
    </feature>
</widget>
