<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shaketonbde" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShakeTonBDE</name>
    <description>
        L'appli de ton BDE qui shake son booty
    </description>
    <author email="dev@shaketonbde.com" href="http://shaketonbde.com">
        New York Cyborgs
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
